html{
	background-color: lightgray;
	font-family: TAHOMA;
}
body {
	width: 1024px;
	margin: 0 auto;
	background-color: white;
	background-image: url(lamba.jpg);
	background-repeat: no-repeat;
	padding-top: 500px;
	padding-bottom: 2000px;
}
.block1 {
	background-color: rgba(40, 40, 40, .9);
	
}
h1{
	color: Gold;
	font-size: 60px;
	background-color: rgba(40, 40, 40, .99);
	height: 75px;
	box-shadow: rgba(200, 200, 200, .8) 0 5px 0;
}
h2{
	color: DarkOrange;
	font-size: 40px;
	background-color: rgba(40, 40, 40, .99);
	height: 50px;
	box-shadow: rgba(200, 200, 200, .8) 0 5px 0;
}